<h1>質問一覧</h1>

<table>
  <tr>
    <th>質問者名</th>
    <th>タイトル</th>
  </tr>

  <% @questions.each do |question| %>
      <tr>
        <td><%= question.user.name%></td>
        <td><%= link_to question.title, question_path(question.id) %></td>
      </tr>
  <% end %>
</table>

<br>

<%= link_to '質問する', new_question_path %>
