<ul>
  <% answers.each do |answer| %>
    <% if answer.id.present? %>
      <li>
        <p>回答者名：<%= answer.user.name %></p>
        <p><%= answer.content %></p>
      </li>
    <% end %>
  <% end %>
</ul>
