 @import "bootstrap/dist/css/bootstrap";
 @import "sharely";
 @import "scss/sharely";
 @import "../fontawesome-free/scss/fontawesome";
 @import "../fontawesome-free/css/fontawesome";
 @import "normalize";
 @import "bootstrap-tagsinput";

 /* 独自のcss */
 .like-btn{
   color: #8899a6;
 }


 .like-btn-unlike{
   color: #ff2581;
 }

 .btn-center{
   padding-top: 1rem;
   padding-bottom: 1rem;
   text-align: center;
 }
